
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /appointments/{appointment} {
      allow read: if request.auth.uid != null; //previous rule was the same as below 
      allow write : if request.auth.uid == request.resource.data.userId;   // users can only read/write their own appointments
    }
    match  /users/{user} {
    allow read : if request.auth.uid != null;
  } 
    match  /direct_messages/{document=**} {
    allow read : if request.auth.uid != null;
    allow write : if request.resource.data.senderId == request.auth.uid;
  }
}
}