
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /appointments/{appointment} {
      allow read: if request.resource.data.userId == request.auth.uid; 
      allow write : if request.resource.data.userId == request.auth.uid;   // users can only check themselves in
    }
    match  /users/{user} {
    allow read : if request.auth.uid != null;
  } 
    match  /direct_messages/{document=**} {
    allow read : if request.auth.uid != null;
    allow write : if request.resource.data.senderId == request.auth.uid;
  }
}
}